[submodule "upstreams/nooa/src"]
	path = upstreams/nooa/src
	url = https://github.com/NVIDIA-NeMo/labs-OO-Agents
	shallow = true
[submodule "upstreams/nemo-switchyard/src"]
	path = upstreams/nemo-switchyard/src
	url = https://github.com/NVIDIA-NeMo/Switchyard
	shallow = true
[submodule "upstreams/json-rpc-ld/src"]
	path = upstreams/json-rpc-ld/src
	url = https://github.com/laquereric/json-rpc-ld
